body { 
    margin: 0px;

}

#nybody{
    margin-right: 20px solid rgb(219, 94, 94);
    margin-left: 20px solid rgb(235, 90, 90);
    border-top: 0 solid rgb(221, 81, 81);
    border-bottom: 25px solid rgb(59, 30, 30);
    background: rgb(100, 87, 87);
    background-repeat: no-repeat;
    background-origin: content-box;
}
#bild{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.Headertext {
    font-family: Roboto, Charcoal, sans-serif;
    font-size: 8vw;
    margin-bottom: 10px;
}
.Toptext {
    font-family: Roboto, Charcoal, sans-serif;
    font-size: 40px;

}
.Normaltext {
    font-family: Roboto, Charcoal, sans-serif;
    font-size: 25px;    
}
.Midtext {
    font-family: Roboto, Charcoal, sans-serif;
    font-size: 30px;
}
.Undertext {
    font-family: Roboto, Charcoal, sans-serif;
    font-size: 25px;
    color: rgb(124, 124, 124)
}
    p {
        margin-left: 75px;
        margin-right: 75px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
      }
      .button {
        background-color: #ff0000;
        border: 10px;
        border-radius: 5px;
        color: white;
        padding: 20px 40px;
        text-align: center;
        font-size: 1.266666rem;
        margin: 6px 3px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
      }
      .button1:hover {
        opacity: 1;
      }
      img{
          margin:0px;
          border:0px;
          padding:0px;
          border-spacing: 0px;
          border-collapse: collapse;
      }